<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="/static/js/jquery-1.10.1.min.js"></script>
</head>
<body>
    <h1>Hello Python</h1>
    <form method="post" action="/index/">
        <input type="text" name="username" value="">
        <input type="text" name="password" value="">
        <input type="submit" value="提交">
    </form>

    <p><a href="/list/">list</a></p>
    <p><a href="/xls/mayun1/">Excel格式下载1</a></p>
    <p><a href="/xls/mayun2/">Excel格式下载2</a></p>

</body>
</html>